<table>
  <tr>
    <th>Name:</th> <td><%= Character.find(@character.id).cname %></td>
    <th>Player:</th> <td><%= Character.find(@character.id).pname %></td>
    <th>Class:</th> <td><%= Character.find(@character.id).prof %></td>
    <th>Race</th> <td><%= Character.find(@character.id).race %></td>
    <th>Level:</th> <td><%= Character.find(@character.id).level %></td>
    <th>Experience:</th> <td><%= Character.find(@character.id).exp %> / <%= ExpService.exptolvl(@character.id) %></td>
  </tr>
    <th>Alignment:</th> <td><%= Character.find(@character.id).alignment %></td>
    <th>Religion:</th> <td><%= Character.find(@character.id).religion %></td>
    <th>Place of Origin:</th> <td><%= Character.find(@character.id).pofo %></td>
    <th>Gender:</th> <td><%= Character.find(@character.id).gender %></td>
    <th>Hair:</th> <td><%= Character.find(@character.id).hair %></td>
    <th>Eyes:</th> <td><%= Character.find(@character.id).eyes %></td>
    <th>Height:</th> <td><%= Character.find(@character.id).height %></td>
    <th>Weight:</th> <td><%= Character.find(@character.id).weight %></td>
    <th>Hit Points:</th> <td>
  </tr>
</table>
<table>
  <tr>
    <th>Hit Points:</th> <td><%= %></td>
  </tr>
</table>
