<table>
  <tr>
    <th>Hit Probability:</th> <td><%= StatService.hitprob(1) %></td>
    <th>Damage Adjustment:</th> <td><%= StatService.dmgadj(1) %></td>
    <th>Weight Allowance:</th> <td><%= StatService.wgtalw(1) %></td>
    <th>Open Doors:</th> <td><%= StatService.opendr(1) %></td>
    <th>Bend Bars/Lift Gates:</th> <td><%= StatService.bblg(1) %></td>
  </tr>
  <tr>
    <th>Reaction/Attaction:</th> <td><%= StatService.react(2) %></td>
    <th>Defensive Adjustment:</th> <td><%= StatService.defadj(2) %></td>
    <th>Picking Pockets:</th> <td><%= StatService.pick(2) %>%</td>
    <th>Opening Locks:</th> <td><%= StatService.lock(2) %>%</td>
    <th>Locating/Removing Traps:</th> <td><%= StatService.stlth(2) %>%</td>
    <th>Moving Silently:</th> <td><%= StatService.sdw(2) %>%</td>
  </tr>
  <tr>
    <th>Hit Point Adjustment:</th> <td><%= StatService.hpa(3) %></td>
    <th>System Shock:</th> <td><%= StatService.ss(3) %></td>
    <th>Resurrection Survival:</th> <td><%= StatService.rs(3) %></td>
    <th>Poison Save:</th> <td><%= StatService.ps(3) %></td>
  </tr>
  <tr>
    <th>Number of Additional Languages: </th> <td><%= StatService.lang(4) %></td>
    <th>Spell Level:</th> <td><%= StatService.splvl(4) %>th</td>
    <th>Chance to Learn Spell:</th> <td><%= StatService.lrnspl(4) %>%</td>
    <th>Max Spells per Level:</th> <td><%= StatService.mxspl(4) %></td>
    <th>Spell Immunity:</th> <td><%= StatService.splim(4) %></td>
  </tr>
  <tr>
    <th>Magical Defense Adjustment:</th> <td><%= StatService.mda(5) %></td>
    <th>Bonus Spells:</th> <td><%= StatService.bonus(5) %></td>
    <th>Chance of Spell Failure:</th> <td><%= StatService.sfail(5) %>%</td>
    <th>Spell Immunity:</th> <td><%= StatService.wisim(5) %></td>
  </tr>
  <tr>
    <th>Max Number of Henchmen:</th> <td><%= StatService.hench(6) %></td>
    <th>Loyalty Base:</th> <td><%= StatService.ltybse(6) %></td>
    <th>Reaction Adjustment:</th><td><%= StatService.rctadj(6) %></td>
  </tr>
